.App {
  text-align: center;
  
}
.heading{
  background-image: url('weather.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
 
}

.display-3 {
  font-family: "Lobster", serif;
  color: #fff;
}

.lead{
  color: #fff;
}

.App-link {
  color: #61dafb;
}

.tablebutton {
  color : black;
  border-radius: 5px;
}

.tablebutton:hover{
  background-color: red;
}
.submitlocation {
  padding: 5px 20px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
}

.submitlocation:hover {background-color: #3e8e41}

.submitlocation:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
